*{
  margin: 30px;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  text-align: center;
  background-color:lime;
}
#addcount{
  margin-top: 20px;
  font-size: 50px;
}
#data{
  font-size: 50px;
}
h1 {
  font-size: 60px;
}
.splash {
  display: none;
}

@media (max-width:767px) {
  .splash {
    display: block;
  }
}